body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: auto;
  aspect-ratio: 1/1;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex: 1 1 auto;
}

.col {
  flex: 1 1 auto;
  height: auto;
  border-style: solid;
}
